/* Vanilla CSS for now */
body {
  background: skyblue;
}

.react-loading-placeholder > span {
  color: transparent;
  background-color: #c5e6f9;
}

.loading {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 100%;
  line-height: 1;
  border-radius: 5px;
}

.header {
  padding: 0.3em;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}